@import "tailwindcss";

:root {
  --background: #F8FAFC;
  --foreground: #0F172A;
  --h1: #155DFC;
  --h1-end: #193CB8;

  /* Light mode button colors */
  --button-primary-bg: #1E40AF;
  --button-primary-hover: #1e3a8a;
  --button-primary-text: #FFFFFF;
  --button-secondary-bg: #FFFFFF;
  --button-secondary-hover: #e0e3ee;
  --button-secondary-text: #1E40AF;
  --button-secondary-border: #1E40AF;
  }

.dark {
  --background: #0F172A;
  --foreground: #F8FAFC;
  --h1: #51A2FF;
  --h1-end: #155DFC;

  /* Dark mode button colors */
  --button-primary-bg: #0950C3;
  --button-primary-hover: #0741a3;
  --button-primary-text: #FFFFFF;
  --button-secondary-bg: rgba(51, 65, 85, 0.3);
  --button-secondary-hover: rgba(51, 65, 85, 0.4);
  --button-secondary-text: #FFFFFF;
  --button-secondary-border: #334155;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-h1: var(--h1);
  --color-h1-end: var(--h1-end);
  --color-button-primary-bg: var(--button-primary-bg);
  --color-button-primary-hover: var(--button-primary-hover);
  --color-button-primary-text: var(--button-primary-text);
  --color-button-secondary-bg: var(--button-secondary-bg);
  --color-button-secondary-hover: var(--button-secondary-hover);
  --color-button-secondary-text: var(--button-secondary-text);
  --color-button-secondary-border: var(--button-secondary-border);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-arimo);
}

h1 {
  @apply text-center w-fit mx-auto text-6xl;
  background-image: linear-gradient(to right, var(--h1), var(--h1-end));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.social-button-group {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  width: fit-content;
  gap: 1rem;
}
